.App {
  text-align: center;
  height: 100vh;/*100% del View Port*/
  padding-top: 10px;
  background-color: black;
  font-family: lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cal-logo-contenedor{
  width: 100%;
  height: 50px;
  margin: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.cal-logo{
  height: 40px;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 20px;
  border: 5px solid white;
}

.fila{
  margin:4px;
  display:flex;
  align-items: center;
  justify-content: center;
}